* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 1s ease-in-out;
}

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden;
  z-index: -1;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  color: white;
  font-size: 3vh;
  font-family: "Roboto Mono", monospace !important;
  z-index: 100;
  user-select: none;
}

.loader {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.loader.hidden {
  animation: slideDown 1s ease-in-out forwards;
  pointer-events: none;
}
#full-page {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

#fixed-content {
  position: fixed;
}

#top-left {
  position: fixed;
  left: 0;
  margin: 2vw;
}

#top-right {
  position: fixed;
  right: 0;
  margin: 2vw;
}

address {
  font-weight: 800;
}

#bottom-left {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

#bottom-left p,
#bottom-right,
ul {
  margin: 20px;
}

#bottom-left p {
  font-weight: 800;
}

#bottom-right,
ul li,
a {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  color: #000;
}

#bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.links.active {
  font-weight: bold;
}

@media only screen and (max-width: 990px) {
  #top-right,
  #bottom-right,
  #bottom-left {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .loader {
    font-size: 20px;
    text-wrap: wrap;
    text-align: center;
    margin: auto;
  }
  header {
    text-wrap: nowrap;
    font-size: 3.4vw;
    margin: 2px !important;
  }
  .issuelabeler {
    font-size: 1.6em !important;
  }
  .buy-now {
    font-size: 1.3em !important;
  }
  .selected-stores-p {
    padding-bottom: 7vh !important;
    margin-bottom: 6vh !important;
  }
}

#issue8,
#issue7,
#issue6,
#issue5,
#issue4,
#issue3,
#issue2,
#issue1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

#issue8 img,
#issue7 img,
#issue6 img,
#issue5 img,
#issue4 img,
#issue3 img,
#issue2 img,
#issue1 img {
  width: 60vw;
  height: 70%;
  object-fit: contain;
}

.issuelabeler {
  font-size: 2.9vw;
  font-weight: 100;
  cursor: default;
}

.buy-now {
  margin: 1vh;
}

.buy-now {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.buy-now:hover {
  text-decoration: underline;
}

.selected-stores {
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.selected-stores-p {
  margin-bottom: 1vh;
}

.selected-stores:hover {
  text-decoration: underline;
}

#issue6 .buy-now,
#issue6 .selected-stores {
  color: #e568ac;
}
